<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head -%>
</head>
<body>

	<header>
		<% include ./partials/header -%>
	</header>

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<h1 class="white"><%= title %></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12  col-md-12">
				<p class="white-font">
					Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
					<br><br>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
					<br>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
				</p>
			</div>
		</div>
		<hr>
	</div>
	<footer>
		<% include ./partials/footer -%>
	</footer>

</body>
</html>