<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title><%= title%></title>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<link rel='icon' type="image/x-icon" href="../../public/favicon.ico">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


<style type="text/css">
body {
	background: #1e93a0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0px;
	text-shadow: #ffffffcc;
}

.navbar {
	background: #a31f1f;
}

.font {
	font-family: 'Lobster', cursive;
	font-size: 25px;
}

.white-font {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 25px;

}
.white {
	color: white;
	font-family: 'Lobster', cursive;
}

.review {
	padding-bottom: 5px;
}

.panel-body.review-container {
	padding-top: 0;
}

.review-header {
	margin-bottom: 10px;
}

.reviewAuthor {
	margin: 0 5px;
}

.reviewTimestamp {
	color: #ccc;
}
</style>