<nav class="navbar navbar-default" role="navigation" style="border-radius: 0px;border-color: #a31f1f;">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" style="color: white;font-family: 'Lobster', cursive;" href="#">
                <span class="glyphicon glyphicon-send"></span>
                &nbsp;Loc8r
            </a>

            <ul class="nav navbar-nav">
                <li><a style="color: white;font-family: 'Lobster', cursive;" href="/">Home</a></li>
                <li><a style="color: white;font-family: 'Lobster', cursive;" href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>